{
    "servers":
    [
        {
            "repositoryID": "1234",
            "ref": "refs/heads/master",
            "runScript": "/path/to/script/to/run.sh"
        },
        {
            "repositoryID": "123",
            "ref": "refs/heads/master",
            "runScript": "/path/to/script/to/run2.sh"
        }
    ]
}
